body{
    background-color:#050E25;
    margin: 0;
}
html{
    height: 100%;
}
.login-page .login-container{
    background-color: #01081b;
    display: flex;
    height: 100%;
}
.login-page .Logo{
    margin: 0;
    margin-left: 160px;
    border-radius: 50%;
    max-width: 40%;
}

.login-page img{
    object-fit: cover;
    max-width: 25%;
    opacity: 0.5;
}

.login-page .loginForm{
    width: 526px;
    height: 691px;
    flex-shrink: 0;
    margin: 100px auto;
}

.login-page .heading{
    color: #FFF;
    text-align: center;
    font-family: Urbanist;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.1px; /* 80.833% */
}

.login-page .textbox{
    background-color: #021D3E;
    width: 515px;
    height: 30px;
    margin-bottom: 14px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-page ::placeholder{
    color: #FFF;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}

.login-page .options{
    color: #C7CDD5;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: space-between;
}
.login-page button{
    background-color: #257EE0;
    width: 526px;
    height: 50px;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    font-family: Urbanist;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}
.login-page .radio{
    color: white;
    font-family: Urbanist;
    display: flex;
    justify-content:center;
}
.login-page .radio input[type="radio"] {
    margin-right: 20px; /* Adjust the value as needed */
    margin-left: 10px;
}
.login-page a{
    color: #4FC2D9;
}
.login-page .Error{
    color: red;
}

.login-page .footer{
    color: #C7CDD5;
    text-align: center;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}