/* styles.css */
body {
  background-color: #050E25;
  margin: 0;
}

.profile {
  max-width: 530px;
  margin: 20px auto;
  padding: 20px;
  background-color: #0B1736; /* Dark blue background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #FFF; /* White text color */
  font-family: 'Urbanist', sans-serif;
}
.accountIcon {
  display: block;
  margin: 0 auto;
  background-color: #007bff;
  padding: 10px;
  border-radius: 50%;
}
.profile h1 {
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  color: #FFF; /* White text color */
}

.profile form {
  display: flex;
  flex-direction: column;
}

.profile div {
  margin-bottom: 15px;
}

.profile label {
  font-weight: bold;
}

.profile input {
  background-color: #050E25; /* Dark blue background for inputs */
  width: 515px;
  height: 30px;
  margin-bottom: 14px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: #FFF; /* White text color */
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile button {
  background-color: #007bff; /* Primary blue button color */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Urbanist', sans-serif;
}

.profile button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
