/* styles.css */
body{
  color: white;
}
.navigation {
  background-color: #022d62;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
}

.navigation h1 {
  margin: 0;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation li {
  padding: 0;
}

.navigation button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Active (selected) button styles */
.navigation button.active {
  text-decoration: underline;
  color: #4FC2D9;
}

.navigation .title {
  display: flex;
  align-items: center;
}

.navigation .logo {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.navigation .title h1 {
  margin: 0;
}
